/*@font-face {
    font-family: 'ume';
    src: url('../fonts/ume-p-mincho-webfont.eot');
    src: url('../fonts/ume-p-mincho-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ume-p-mincho-webfont.woff') format('woff'),
         url('../fonts/ume-p-mincho-webfont.ttf') format('truetype'),
         url('../fonts/ume-p-mincho-webfont.svg#ume_p_minchoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}*/


@font-face {
    font-family: 'old_standard';
    src: url('../fonts/oldstandard-bold-webfont.eot');
    src: url('../fonts/oldstandard-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/oldstandard-bold-webfont.woff') format('woff'),
         url('../fonts/oldstandard-bold-webfont.ttf') format('truetype'),
         url('../fonts/oldstandard-bold-webfont.svg#old_standard_ttbold') format('svg');
    font-weight: bold;
    font-style: normal;

}




@font-face {
    font-family: 'old_standard';
    src: url('../fonts/oldstandard-italic-webfont.eot');
    src: url('../fonts/oldstandard-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/oldstandard-italic-webfont.woff') format('woff'),
         url('../fonts/oldstandard-italic-webfont.ttf') format('truetype'),
         url('../fonts/oldstandard-italic-webfont.svg#old_standard_ttitalic') format('svg');
    font-weight: normal;
    font-style: italic;

}




@font-face {
    font-family: 'old_standard';
    src: url('../fonts/oldstandard-regular-webfont.eot');
    src: url('../fonts/oldstandard-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/oldstandard-regular-webfont.woff') format('woff'),
         url('../fonts/oldstandard-regular-webfont.ttf') format('truetype'),
         url('../fonts/oldstandard-regular-webfont.svg#old_standard_ttregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


* {
  margin: 0px;
  padding: 0px;
}
html {
  height: 101%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
body {
  font-family: 'old_standard',Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 26px;
  background: #ededee;
  color: #777;
  width: 100%;
  height:100%;
  margin: 50px;

}
a {
  color: #222;
  text-decoration: none;
}
a,
a:hover,
a:active,
a:visited {
  outline: 0px;
}
a:hover {
  color: red;
}
img {
  outline: 0;
  border: 0;
}
h1 {
  font-size: 28px;
  line-height: 40px;
  color: #222;
  margin-bottom: 20px;
}
h2 {
  font-size: 28px;
  font-weight: normal;
  color: red;
  margin-bottom: 21px;
}
h3 {
  font-weight: normal;
  font-size: 20px;
  color: #222;
  margin-bottom: 21px;
}
h4 {
  color: red;
  font-weight: normal;
}
p {
  margin-bottom: 20px;
}
nav {
  overflow: hidden;
  border-top: 1px solid red;
  border-bottom: 1px solid red;
  padding: 10px 0;
}
nav li {
  list-style: none;
  margin-right: 20px;
  font-weight: bold;
  float: left;
}
nav li a.active {
  color: red;
}
nav.menu li{
  color:#333333;
  font-weight: bold;
  font-size:1.2em;
  text-transform: uppercase;
  padding-top: 1em;
  letter-spacing: 0.2em;
}
nav.menu li a{
  color:#333333;
}

nav.menu li a:hover{
  color:#333333;
}

nav.menu li a:active{
  color:#333333;
}

nav.submenu {
  border-top: none;
  margin-bottom: 3%;
  margin-left:100px;
  margin-top: 2%;
}

nav.submenu a {
  font-weight: normal;
}

nav.submenu ul{
  margin-left:0;
}

nav.submenu li{
  margin-right:15%;
}

section.content {
  margin: 70px;
  height:90%;
}

#canvas {
width:100%;
height: 70%;

}

#canvas li {
  position:absolute;
  list-style: none;
  border: 0.15em solid #1121d4;
  background: #FFF;
/*  width:100%;*/
}

#canvas img {
  max-width: 90%;
  height:auto;
  padding:4%;
  
}

#canvas li p{
  padding:3px;
  float:center;
  text-align: center;
}

#canvas li p a{
  color:#000;
}

#canvas li p a:hover{
  text-decoration: underline;
}

/* ILOT WRAPPER */

.introduction-wrapper {
  width:50%;
  height:10%; 
  z-index:1000;
}

.france-wrapper {
position: fixed;
width:15%;
height:15%;
top:1%;
left:1%;
border: 1px dotted #000;
background-color: #ededee;
}

.france-wrapper li{
width:90%;
}

.paysbas-wrapper {
position:fixed;
width:30%;
height:5%;
top:1%;
left:30%;
border: 1px dotted #000;
background-color: #ededee;
}

.paysbas-wrapper li{
width:45%;
}

.suisse-wrapper {
position:fixed;
width:16%;
height:10%;
top:6%;
left:75%;
border: 1px dotted #000;
background-color: #ededee;
}

.suisse-wrapper li{
width:70%;
}

.allemagne-wrapper {
position:fixed;
width:11%;
height:10%;
top:50%;
left:30%;
border: 1px dotted #000;
background-color: #ededee;
}

.allemagne-wrapper li{
width:110%;
}

.belgique-wrapper {
position:fixed;
width:13%;
height:10%;
top:50%;
left:52%;
border: 1px dotted #000;
background-color: #ededee;
}

.belgique-wrapper li{
width:85%;
}

.usa-wrapper {
position:fixed;
width:16%;
height:10%;
top:50%;
left:1%;
border: 1px dotted #000;
background-color: #ededee;
}

.usa-wrapper li{
width:80%;
}

.espagne-wrapper {
position:fixed;
width:9%;
height:10%;
top:50%;
left:72%;
border: 1px dotted #000;
background-color: #ededee;
}

.espagne-wrapper li{
width:130%;
}

/* NOM DE PAYS CSS */

.pays {
  font-size: 0.85em;
  padding:1em;
  text-transform: uppercase;
  letter-spacing: 0.4em;
}


/* TAGS */

.tags {
  z-index: 1000;
  display: block;
  position:fixed;
  background: #FFF;
  border-right: 1px solid #000;
  border-left: 1px solid #000;
  border-top: 1px solid #000;
  bottom:30px;
  right:30px;
}

.tags label{
  display: block;
  padding:0.7em;
  border-bottom: 1px solid #000;
}

.tags input{
  display: inline-block;
}

/* couleurs menu */

.tags label .label-outils:hover{
  color: #1121d4;
}

.tags label input:checked + .label-outils {
  color: #1121d4;
}

.tags label .label-doc:hover{
  color: #f934c8;
}

.tags label input:checked + .label-doc {
  color: #f934c8;
}

.tags label .label-sources:hover{
  color: #000f63;
}

.tags label input:checked + .label-sources {
  color: #000f63;
}

.tags label .label-collab:hover{
  color: #e76519;
}

.tags label input:checked + .label-collab {
  color: #e76519;
}

.tags label .label-work:hover{
  color: #ff4980;
}

.tags label input:checked + .label-work {
  color: #ff4980;
}

.tags label .label-log:hover{
  color: #2ae91c;
}

.tags label input:checked + .label-log {
  color: #2ae91c;
}

.tags label .label-rech:hover{
  color: #808080;
}

.tags label input:checked + .label-rech {
  color: #808080;
}

/* Classe pour la couleur du border des images suivants leurs tags*/

#canvas li.creation-outil {
  border-color: #1121d4;
}

#canvas li.documentation {
  border-color: #f934c8;
}

#canvas li.partage-sources {
  border-color: #000f63;
}

#canvas li.collaborate {
  border-color: #e76519;
}

#canvas li.work-conf {
  border-color: #ff4980;
}

#canvas li.software{
  border-color: #2ae91c;
}

#canvas li.search{
  border-color: #808080;
}

/* Classe pour la couleur du submenu*/

nav.submenu li.creation-outil a:hover{
  color: #1121d4;
}

nav.submenu li.documentation a:hover{
  color: #f934c8;
}

nav.submenu li.partage-sources a:hover{
  color: #000f63;
}

nav.submenu li.collaborate a:hover{
  color: #e76519;
}

nav.submenu li.work-conf a:hover{
  color: #ff4980;
}

nav.submenu li.software a:hover{
  color: #2ae91c;
}

nav.submenu li.search a:hover{
  color: #808080;
}

nav.submenu li.creation-outil a.active{
  color: #1121d4;
}

nav.submenu li.documentation a.active{
  color: #f934c8;
}

nav.submenu li.partage-sources a.active{
  color: #000f63;
}

nav.submenu li.collaborate a.active{
  color: #e76519;
}

nav.submenu li.work-conf a.active{
  color: #ff4980;
}

nav.submenu li.software a.active{
  color: #2ae91c;
}

nav.submenu li.search a.active{
  color: #808080;
}


/* INTRODUCTION */
/*
#canvas li.introduction {
  border-color: #000;
  width:23%;
  height:80%;
  overflow:auto;
  z-index:3;
}

#canvas li.introduction img{
  padding-bottom:0;
}

#canvas li.introduction p{
  font-size:0.9em;
  padding-left:15px;
  padding-right: 15px;
  
}

.intro {
  border:0.15em solid #000;
  background-color: #fff;
  position: fixed;
  top:10%;
  left:40%;
  width:22%;
  height:auto;
  max-height:80%;
  overflow:auto;
  z-index:1000;

}

.intro p{
  font-size:0.9em;
  padding-left:5%;
  padding-right:5%;
  text-align: left;

}

.intro img{
  width:90%;
  float:center;
  margin:5%;
}

.intro .close-buttons {
  font-size:0.9em;
  width:2%;
  position:absolute;
  top:0;
  right:0;
  padding:0.2em 0.7em ;
  text-align:center;
  cursor:pointer;

}*/

/* INTRO TOOGLE */

.intro-toggle {
  position:fixed;
  bottom:30px;
  left:30px;
  border:0.15em solid #000;
  background-color: #fff;
  width:28%;
  height:auto;
  max-height:80%;
  overflow:auto;
  z-index:1000;
}

.intro-titre {
  padding-top:20px;
  font-size:1em;
  padding-left:5%;
  padding-right:5%;
  text-align: center;
  cursor:pointer;
}

.intro-titre:hover {
  text-decoration: underline;

}

.intro-text {
  display:none;
  font-size:0.95em;
  padding-left:5%;
  padding-right:5%;
  text-align: left;

}


/* PAGE PROJET */

  /* GENERAL */

section.content-projet {
  margin-top:2%;
  margin-left : 100px;
  height:90%;
}
  
  /* TEXTE*/

section.content-projet h1{
  font-weight: normal;
  font-style: italic;
  font-size: 2.9em;
}

section.content-projet h2.author{
  font-weight: normal;
  font-size: 1.8em;
  position:absolute;
  left:10px;
  padding:10px;

}

section.content-projet h2.year{
  font-weight: normal;
  font-size: 1.2em;
  position:absolute;
  margin-top:35px;
  left:10px;
  padding:10px;
  padding-top: 10px;
}

section.content-projet p.text{
margin-top:5%;
padding:10px;
padding-top: 20px;
}

  /* IMAGES */

.gallery {
  margin-top:5%;

}  

.gallery li{
  list-style: none;
}

.gallery li img {
  width:80%;
}

.gallery li p.legendary{
  width:100px;
  text-align:left;
  position:relative;
  margin-bottom:50px;
}

footer {
  padding-top: 20px;
  margin-top: 20px;
  border-top: 1px solid red;
  font-size: 13px;
  color: #222;
}
footer a {
  color: red;
}
footer a:hover {
  color: #222;
}

/* ScrollBar css */

::-webkit-scrollbar {  
    width: 5.5px; 
}  
::-webkit-scrollbar-track {  
    background-color: #C6C6C6;  
    border-left: 1px solid #C6C6C6;  
}  
::-webkit-scrollbar-thumb {  
    background-color: #808080;  
}  
::-webkit-scrollbar-thumb:hover {  
    background-color: #000;  
} 

